body {
  background-color: gray;
}

.section {
  width: 1600px;
  height: 800px;
  margin: 0 auto;
}

.block__img {
  width: 1600px;
  height: 800px;
}
.block__text {
  position: relative;
  bottom: 630px;
  font-family: "Rubik Dirt", cursive;
  color: white;
  text-align: center;
  font-size: 50px;
  text-shadow: -1px -1px white, 1px 1px gray, 2px 2px #000000, 3px 3px #000000, 4px 4px #000000, 5px 5px #000000, 6px 6px #000000, 7px 7px #000000, 8px 8px #000000, 9px 9px #000000, 10px 10px #000000, 11px 11px #000000, 18px 18px 30px rgba(0, 0, 0, 0.4), 18px 18px 10px rgba(0, 0, 0, 0.4);
}
.block__text1 {
  position: relative;
  bottom: 600px;
  text-align: center;
  font-family: "Molle", cursive;
  color: white;
  font-size: 80px;
  text-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white, 0 0 20px green, 0 0 35px green, 0 0 40px green, 0 0 50px green, 0 0 75px green;
}
.block__text2 {
  position: relative;
  bottom: 550px;
  font-family: "Rubik Dirt", cursive;
  color: white;
  text-align: center;
  font-size: 50px;
  text-shadow: -1px -1px white, 1px 1px gray, 2px 2px #000000, 3px 3px #000000, 4px 4px #000000, 5px 5px #000000, 6px 6px #000000, 7px 7px #000000, 8px 8px #000000, 9px 9px #000000, 10px 10px #000000, 11px 11px #000000, 18px 18px 30px rgba(0, 0, 0, 0.4), 18px 18px 10px rgba(0, 0, 0, 0.4);
}
.block__text3 {
  position: relative;
  bottom: 500px;
  font-weight: 600;
  color: white;
  text-align: center;
  font-size: 30px;
}
.block__button {
  width: 300px;
  height: 50px;
  font-size: 30px;
  font-family: "Rubik Dirt", cursive;
  border-radius: 70px;
  color: white;
  background-color: rgba(255, 99, 71, 0);
  position: relative;
  bottom: 450px;
  left: 650px;
  border: 5px solid white;
}

.menu__list {
  display: flex;
  position: relative;
  bottom: 1000px;
  left: 390px;
  font-size: 30px;
  font-weight: 600;
  text-shadow: -1px -1px white, 1px 1px gray, 2px 2px #000000, 3px 3px #000000, 4px 4px #000000, 5px 5px #000000, 6px 6px #000000, 7px 7px #000000, 8px 8px #000000, 9px 9px #000000, 10px 10px #000000, 11px 11px #000000, 18px 18px 30px rgba(0, 0, 0, 0.4), 18px 18px 10px rgba(0, 0, 0, 0.4);
}
.menu__item {
  padding-right: 64px;
}
.menu a {
  text-decoration: none;
  color: white;
}

.section1 {
  width: 1600px;
  height: 3800px;
  margin: 0 auto;
  background-color: rgb(39, 36, 36);
}

.blockwhite__fourblock {
  display: flex;
  justify-content: space-around;
  position: relative;
  bottom: 100px;
}
.blockwhite__fourblock1 {
  width: 300px;
  height: 300px;
  background-color: white;
  text-align: center;
  border-radius: 70px;
  box-shadow: inset 0px 0px 81px 17px green, 0px 0px 20px 4px green;
}
.blockwhite__logo {
  width: 100px;
  height: 100px;
  position: relative;
  top: 30px;
}
.blockwhite__text {
  position: relative;
  top: 60px;
  font-size: 25px;
  font-family: "Rubik Dirt", cursive;
  color: black;
  text-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white, 0 0 20px crimson, 0 0 35px crimson, 0 0 40px crimson, 0 0 50px crimson, 0 0 75px crimson;
}
.blockwhite__text1 {
  position: relative;
  top: 90px;
  font-size: 26px;
  font-weight: 600;
}

.circle__1 {
  width: 350px;
  height: 350px;
  border-radius: 400px;
  border: 10px solid white;
  position: relative;
  bottom: 350px;
  left: 150px;
  box-shadow: inset 0px 0px 81px 17px white, 0px 0px 20px 4px white;
}
.circle__2 {
  width: 700px;
  height: 700px;
  border-radius: 400px;
  border: 15px solid white;
  position: relative;
  bottom: 10px;
  left: 400px;
  box-shadow: inset 0px 0px 81px 17px white, 0px 0px 20px 4px white;
}
.circle__3 {
  width: 450px;
  height: 450px;
  border-radius: 400px;
  border: 10px solid white;
  position: relative;
  top: 100px;
  right: 600px;
  box-shadow: inset 0px 0px 81px 17px white, 0px 0px 20px 4px white;
}

.circleorange__light {
  background: rgb(39, 36, 36);
  border-radius: 50%;
  height: 100px;
  width: 100px;
  position: relative;
  box-shadow: 0 0 0 30px orange;
  margin: 100px;
  position: relative;
  bottom: 300px;
}

.circlegray__light {
  background: rgb(39, 36, 36);
  border-radius: 50%;
  height: 170px;
  width: 170px;
  position: relative;
  box-shadow: 0 0 0 45px rgb(71, 64, 90);
  margin: 100px;
  position: relative;
  bottom: 400px;
  left: 1200px;
}

.textblock__10 {
  text-align: center;
  color: white;
  font-size: 130px;
  position: relative;
  bottom: 350px;
  font-family: "Rubik Dirt", cursive;
  text-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white, 0 0 20px green, 0 0 35px green, 0 0 40px green, 0 0 50px green, 0 0 75px green;
}
.textblock__11 {
  text-align: center;
  color: white;
  font-size: 50px;
  position: relative;
  bottom: 300px;
}

.button__click {
  width: 400px;
  height: 100px;
  font-family: "Rubik Dirt", cursive;
  font-size: 40px;
  color: white;
  background-color: orange;
  position: relative;
  bottom: 250px;
  left: 600px;
  border-radius: 70px;
  box-shadow: inset 0px 0px 81px 17px orange, 0px 0px 20px 4px orange;
}

.textblock2__12 {
  color: white;
  font-size: 90px;
  position: relative;
  bottom: 200px;
  left: 100px;
  font-family: "Rubik Dirt", cursive;
}
.textblock2__13 {
  color: white;
  font-size: 40px;
  position: relative;
  bottom: 150px;
  left: 100px;
}

.blockwhite1__white {
  width: 500px;
  height: 600px;
  background: white;
  border-radius: 70px;
  position: relative;
  bottom: 50px;
  left: 200px;
  box-shadow: inset 0px 0px 81px 17px white, 0px 0px 30px 30px white;
}
.blockwhite1__text {
  font-size: 28px;
  position: relative;
  top: 20px;
  left: 30px;
}
.blockwhite1__button {
  width: 300px;
  height: 70px;
  font-family: "Rubik Dirt", cursive;
  font-size: 30px;
  color: white;
  background-color: orange;
  position: relative;
  top: 40px;
  left: 100px;
  border-radius: 70px;
  box-shadow: inset 0px 0px 81px 17px orange, 0px 0px 20px 4px orange;
}

.cicle10__img {
  width: 600px;
  height: 600px;
  border-radius: 400px;
  position: relative;
  bottom: 650px;
  left: 850px;
  box-shadow: inset 0px 0px 81px 17px blue, 0px 0px 50px 20px blue;
}

.blockwhite2__click {
  display: flex;
  justify-content: space-around;
  position: relative;
  bottom: 500px;
  text-align: center;
}
.blockwhite2__1 {
  width: 440px;
  height: 600px;
  background-color: white;
  border-radius: 100px;
  border: 5px solid black;
  box-shadow: inset 0px 0px 81px 17px white, 0px 0px 10px 10px white;
}
.blockwhite2__img {
  width: 350px;
  height: 350px;
  border-radius: 300px;
  position: relative;
  top: 20px;
  left: 0px;
}
.blockwhite2__text1 {
  font-size: 40px;
  position: relative;
  top: 20px;
}
.blockwhite2__text {
  font-size: 20px;
  position: relative;
  top: 30px;
}
.blockwhite2__button {
  position: relative;
  top: 60px;
  width: 200px;
  height: 40px;
  background-color: orange;
  font-weight: 600;
}

.section2 {
  width: 1600px;
  height: 3800px;
  margin: 0 auto;
  background-color: rgb(39, 36, 36);
}

.cicle20__img {
  width: 600px;
  height: 600px;
  border-radius: 500px;
  position: relative;
  bottom: 70px;
  left: 800px;
  box-shadow: inset 0px 0px 81px 17px white, 0px 0px 10px 10px white;
}
.cicle20__text {
  font-size: 150px;
  color: white;
  font-size: 600;
  position: relative;
  bottom: 300px;
  left: 200px;
  text-shadow: 0 0 5px black, 0 0 10px black, 0 0 15px black, 0 0 20px black, 0 0 35px white, 0 0 40px white, 0 0 50px white, 0 0 75px white;
  position: relative;
  bottom: 450px;
  left: 500px;
}
.cicle20__text1 {
  font-size: 30px;
  color: white;
  font-size: 600;
  position: relative;
  bottom: 150px;
  left: 900px;
}

.circleorange2__light {
  background: rgb(39, 36, 36);
  border-radius: 50%;
  height: 100px;
  width: 100px;
  position: relative;
  box-shadow: 0 0 0 30px orange;
  margin: 100px;
  position: relative;
  bottom: 400px;
  left: 200px;
}

.imgblock__all {
  position: relative;
  bottom: 300px;
}
.imgblock__1 {
  width: 520px;
  height: 520px;
  border: 5px solid white;
}

.circle30__light {
  background: orange;
  width: 200px;
  height: 200px;
  border-radius: 300px;
  position: relative;
  bottom: 800px;
  left: 100px;
}
.circle30__dark {
  background: rgb(39, 36, 36);
  border-radius: 50%;
  height: 170px;
  width: 170px;
  position: relative;
  box-shadow: 0 0 0 45px rgb(71, 64, 90);
  margin: 100px;
  position: relative;
  bottom: 300px;
  left: 1000px;
}
.circle30__img {
  width: 800px;
  height: 800px;
  border-radius: 900px;
  position: relative;
  bottom: 600px;
  left: 100px;
  box-shadow: inset 0px 0px 81px 17px white, 0px 0px 10px 10px white;
}

.text {
  width: 700px;
  height: 600px;
  background: white;
  box-shadow: inset 0px 0px 81px 17px white, 0px 0px 10px 10px white;
  border-radius: 100px;
  position: relative;
  bottom: 1200px;
  left: 800px;
}
.text__2 {
  font-size: 70px;
  position: relative;
  top: 25px;
  left: 50px;
  font-weight: 600;
}
.text__3 {
  font-size: 40px;
  position: relative;
  top: 50px;
  left: 50px;
}
.text__button {
  width: 350px;
  height: 90px;
  font-size: 30px;
  border-radius: 70px;
  background-color: rgb(39, 36, 36);
  color: white;
  text-shadow: 0 0 5px black, 0 0 10px black, 0 0 15px black, 0 0 20px black, 0 0 35px white, 0 0 40px white, 0 0 50px white, 0 0 75px white;
  position: relative;
  top: 80px;
  left: 50px;
}
.text__4 {
  font-size: 150px;
  color: white;
  font-size: 600;
  text-shadow: 0 0 5px black, 0 0 10px black, 0 0 15px black, 0 0 20px black, 0 0 35px white, 0 0 40px white, 0 0 50px white, 0 0 75px white;
  position: relative;
  top: 250px;
  right: 350px;
}

.contacts__block {
  width: 600px;
  height: 70px;
  background: rgb(46, 44, 44);
  border: 5px solid white;
  box-shadow: inset 0px 0px 81px 17px white, 0px 0px 5px 5px white;
  font-size: 40px;
  text-align: center;
  position: relative;
  bottom: 800px;
  left: 200px;
}
.contacts__block1 {
  width: 600px;
  height: 70px;
  background: rgb(46, 44, 44);
  border: 5px solid white;
  box-shadow: inset 0px 0px 81px 17px white, 0px 0px 5px 5px white;
  font-size: 40px;
  text-align: center;
  position: relative;
  bottom: 880px;
  left: 850px;
}
.contacts__block13 {
  position: relative;
  top: 20px;
  left: -150px;
  font-weight: 600;
}
.contacts__block14 {
  position: relative;
  top: 20px;
  left: -130px;
  font-size: 40px;
  text-align: center;
  font-weight: 600;
}
.contacts__block2 {
  width: 1250px;
  height: 500px;
  background: rgb(46, 44, 44);
  border: 5px solid white;
  box-shadow: inset 0px 0px 81px 17px white, 0px 0px 5px 5px white;
  position: relative;
  bottom: 800px;
  left: 200px;
}
.contacts__block15 {
  font-size: 50px;
  font-weight: 600;
}/*# sourceMappingURL=style.css.map */